    footer {
        background-color: #ede6d6;
    }

    .footer-waves {
        position: relative;
        width: 100%;
        height: 10vh;
        margin-bottom: -1px;
        min-height: 80px;
        max-height: 120px;
    }

    .footer-parallax>use {
        animation: footer-move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
    }

    .footer-parallax>use:nth-child(1) {
        animation-delay: -2s;
        animation-duration: 7s;
    }

    .footer-parallax>use:nth-child(2) {
        animation-delay: -3s;
        animation-duration: 10s;
    }

    @keyframes footer-move-forever {
        0% {
            transform: translate3d(-90px, 0, 0);
        }

        100% {
            transform: translate3d(85px, 0, 0);
        }
    }

    /* Shrinking for mobile */
    @media (max-width: 768px) {
        .footer-waves {
            height: 60px;
            min-height: 60px;
        }
    }