.swimming-fish-animation {
    position: absolute;
    color: #C0C0C0;
    opacity: 0.4;
    pointer-events: none;
    z-index: 5;
    animation: swim 15s linear infinite;
}

@keyframes swim {
    0% { transform: translateX(-10vw) translateY(20vh) scaleX(1); }
    50% { transform: translateX(50vw) translateY(25vh) scaleX(1); }
    51% { transform: translateX(50vw) translateY(25vh) scaleX(-1); }
    100% { transform: translateX(110vw) translateY(20vh) scaleX(-1); }
}

.error-bg {
    background-image: url('../../assets/Boat/boat9.avif');
    background-size: cover;
    background-position: center;
}
