@import "tailwindcss";


html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: var(--font-sans);
}

.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

@custom-variant dark (&:where(.dark, .dark *));



@theme {
    --color-primary: #eebd2b;
    --color-background-light: #f8f7f6;
    --color-background-dark: #1a1814;
    --color-warm-beige: #f2eee3;
    --color-soft-cream: #fdfaf5;
    --color-pale-sand: #f7f3e9;
    --color-royal-blue: #1E3A8A;
    --color-ivory-luxury: #FCFAF7;

    --font-sans: "Plus Jakarta Sans", sans-serif;
}
